@page "/serverlist"
@using System.Text.Json;
@using CommonModels;
@inject HttpClient HttpClient

<MudTable Items="games" TItem="Games">
    <HeaderContent>
        <MudTh>Game Servers</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>
            @if (!context.IsInstalled && context.IsSteam)
            {
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => InstallServerClick(context))">Install Server</MudButton>
            }
            else
            {
                @if (context.IsRunning)
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => StopServerClick(context))">Stop Server</MudButton>
                }
                else
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => StartServerClick(context))">Start Server</MudButton>
                }
            }
        </MudTd>

        <MudTd>
            <MudExpansionPanel Text="@context.Name">

                @if(!context.IsWorldInConfigs)
                {
                    <MudTd>
                        <MudTextField @bind-Value="context.WorldName" Label="World name" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudTd>
                }

                <MudTable Items="context.ServerConfiguration" Context="item">
                    <HeaderContent>
                        <MudTh>Is Enabled</MudTh>
                        <MudTh>Paramater</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd>
                            <MudSwitch @bind-Checked="item.Value.IsEnabled" Color="Color.Primary" />
                        </MudTd>
                        <MudTd>
                            <MudTextField @bind-Value="item.Value.Content" Label="@item.Key" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </MudTd>
                    </RowTemplate>
                </MudTable>
            </MudExpansionPanel>
        </MudTd>
    </RowTemplate>
</MudTable>

@inject IJSRuntime JSRuntime

<div id="timelineContainer" style="height: 400px; overflow: auto;">
    <MudTimeline TimelineOrientation="TimelineOrientation.Vertical" TimelinePosition="TimelinePosition.Start" class="custom-timeline">
        @foreach (var message in messages)
        {
            if (message.ToLower().Contains("error"))
            {
                <MudTimelineItem Color="Color.Error" Variant="Variant.Filled" class="custom-timeline-item">
                    <ItemContent>
                        <MudAlert Severity="Severity.Error">@message</MudAlert>
                    </ItemContent>
                </MudTimelineItem>
            }
            else
            {
                <MudTimelineItem Color="Color.Success" Variant="Variant.Filled" class="custom-timeline-item">
                    <ItemContent>
                        <MudAlert Severity="Severity.Success">@message</MudAlert>
                    </ItemContent>
                </MudTimelineItem>
            }
        }
    </MudTimeline>
</div>

<MudForm>
    <MudItem xs="12" md="6">
        <MudTextField Label="Command" @bind-Value="commandInput" OnKeyPress="HandleKeyPress"/>
    </MudItem>

    <MudItem xs="12">
        <MudButton OnClick="SendCommandClick">Send</MudButton>
    </MudItem>
</MudForm>

<style>
    /* Custom CSS to adjust the spacing between timeline items */
    .custom-timeline {
        /* Adjust the desired space between timeline items by changing the margin or padding values */
        margin-top: 0px; /* Example: 10px spacing between items */
    }

    .mud-alert {
        display: flex;
        padding: 0px 0px;
        border-radius: var(--mud-default-borderradius);
        background-color: transparent;
        transition: box-shadow 300ms cubic-bezier(.4,0,.2,1) 0ms;
    }

    .mud-timeline-vertical .mud-timeline-item {
        padding-bottom: 0px;
    }

    .custom-timeline-item {
        /* If you need to adjust the space between individual items, you can use the margin or padding values here */
        margin-bottom: 0px; /* Example: 5px spacing between individual items */
    }
</style>