@page "/serverlist"
@using System.Text.Json;
@using CommonModels;
@inject HttpClient HttpClient

<MudTable Items="games" TItem="Games">
    <HeaderContent>
        <MudTh>Game</MudTh>
        <MudTh/>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Name</MudTd><MudTd>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => StartGameServerClick(context))">Start Server</MudButton>

            @if (!string.IsNullOrEmpty(message))
            {
                <p>@message</p>
            }
        </MudTd>
    </RowTemplate>
</MudTable>

<MudTimeline TimelineOrientation="TimelineOrientation.Vertical" TimelinePosition="TimelinePosition.Start" class="custom-timeline">
    @foreach (var message in messages)
    {
        if (message.ToLower().Contains("error"))
        {
            <MudTimelineItem Color="Color.Error" Variant="Variant.Filled" class="custom-timeline-item">
                <ItemContent>
                    <MudAlert Severity="Severity.Error">@message</MudAlert>
                </ItemContent>
            </MudTimelineItem>
        }
        else
        {
            <MudTimelineItem Color="Color.Success" Variant="Variant.Filled" class="custom-timeline-item">
                <ItemContent>
                    <MudAlert Severity="Severity.Success">@message</MudAlert>
                </ItemContent>
            </MudTimelineItem>
        }
    }
</MudTimeline>